html {
    overflow: hidden;
}

#chat-column {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: 300px;
}

#controls {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 100px;
}
